<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRAR USUARIO</ion-title>
    <ion-buttons slot='start'>
      <ion-back-button defaultHref="/" ></ion-back-button>
  </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text"  [(ngModel)]="nombres" name="nombres" minlength="2" maxlength="50" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text"  [(ngModel)]="apellidos" name="apellidos" minlength="2" maxlength="50" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Numero de identificación</ion-label>
      <ion-input type="text"  [(ngModel)]="numeroIdentificacion" name="numeroIdentificacion" minlength="2" maxlength="40" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Télefono</ion-label>
      <ion-input type="text"  [(ngModel)]="telefono" name="telefono" minlength="2" maxlength="25" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text"  [(ngModel)]="direccion" name="direccion" minlength="2" maxlength="50" required></ion-input>
    </ion-item>
  </form>
  <br>
  <br>
  <ion-button  expand="block" type="submit" color="primary"  
                 (click)="insertarUsuario()" 
                 >Registrate</ion-button>
</ion-content>
